/Cadastro.class
/Candidato.class
/Empresa.class
/Entrevista.class
/FiltroCores.class
/RhProcesso.class
/SistemaVagas.class
/TesteOnline.class
/TesteSprint.class
/botFeedbacks.class
/modoDaltonismo.class
